.historya{
    text-align: center;
}
.Contactfooter{
    text-align: center;
}
.carousel-caption{top: 300px;}
.img{height: 50px; width: 50px; border-radius: 40px;}

.imgs{height: 50px; width: 50px;}
.container{background-size: cover;}